footer
    .container-fluid.p-0
        .row.text-left
            .col-md-5.col-sm-5
                h4.text-light About us
                p.text-muted
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum maxime ea
                    | similique illum corrupti
                p.pt-4.text-muted
                    | Copyright ©2019 All rights reserved | This template is made with by
                    span  Daily Tuition
            .col-md-5.col-sm-12
                h4.text-light Newsletter
                p.text-muted Stay Updated
                form.form-inline
                    .col.pl-0
                        .input-group.pr-5
                            input#inlineFormInputGroupUsername2.form-control.bg-dark.text-white(type='text', placeholder='Email')
                            .input-group-prepend
                                .input-group-text
                                    i.fas.fa-arrow-right
            .col-md-2.col-sm-12
                h4.text-light Follow Us
                p.text-muted Let us be sociality
                .column.text-light
                    i.fab.fa-facebook-f
                    i.fab.fa-instagram
                    i.fab.fa-twitter
                    i.fab.fa-youtube