footer
    .container.p-0
        .row.text-left
            .col-md-5.col-sm-5
                h4.text-light О нас
                p.text-muted
                    | Самая большая коллекция книг в магазинах Нижнего Новгорода по итогам 2019 года.
                    | Более 5000 довольных читателей
                p.pt-4.text-muted
                    | Copyright ©2019 Все права защищены | Шаблон разработан
                    span  Валентином Гущиным
            .col-md-5.col-sm-12
                h4.text-light Подписка на новости
                p.text-muted Будьте в курсе наших акций:
                form.form-inline
                    .col.pl-0
                        .input-group.pr-5
                            input#inlineFormInputGroupUsername2.form-control.bg-dark.text-white(type='text', placeholder='Email')
                            .input-group-prepend
                                .input-group-text
                                    i.fas.fa-arrow-right
            .col-md-2.col-sm-12
                h4.text-light Подпишись на нас
                p.text-muted Мы в соцсетях:
                .column.text-light
                    i.fab.fa-facebook-f
                    i.fab.fa-instagram
                    i.fab.fa-twitter
                    i.fab.fa-youtube