header
    .container.p-0
        nav.navbar.navbar-expand-lg
            a.navbar-brand(href='#')
                i.fas.fa-book-reader.fa-2x.mx-3
                | Books for bucks
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                i.fas.fa-align-right.text-light
            #navbarNav.collapse.navbar-collapse
                .mr-auto
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(href='#')
                            | Главная
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='#') Доставка и оплата
                    li.nav-item.dropdown
                        .dropdown
                            a.nav-link(href='#') Каталог
                            .dropdown-content
                                a(href='#') Научная
                                a(href='#') Художественная
                                a(href='#') Учебная
                                a(href='#') Техническая
                    li.nav-item
                        a.nav-link(href='#') Адреса магазинов
                    li.nav-item
                        a.nav-link(href='#') О нас
    .container.text-center
        .row
            .col-md-7.col-sm-12.text-white
                h6 Автор: Артур Конан Дойл
                h1 Приключения Шерлока Холмса: Союз рыжих
                p
                    | Рыжеволосый мужчина устраивается на лёгкую и высокооплачиваемую работу благодаря цвету своих волос, но однажды,
                    | явившись на работу, обнаруживает, что наниматели исчезли в неизвестном направлении. Он просит Холмса разгадать загадку исчезновения щедрых нанимателей.
                button.btn.btn-light.px-5.py-2.primary-btn
                    | Купить за 150 р
            .col-md-5.col-sm-12.h-25
                img(src='assets/img/header-img.png', alt='Book')