extends header
block advertisement
    .container.text-center
        .row
            .col-md-7.col-sm-12.text-white
                h6 Автор: Артур Конан Дойл
                h1 Приключения Шерлока Холмса: Союз рыжих
                p
                    | Рыжеволосый мужчина устраивается на лёгкую и высокооплачиваемую работу благодаря цвету своих волос, но однажды,
                    | явившись на работу, обнаруживает, что наниматели исчезли в неизвестном направлении. Он просит Холмса разгадать загадку исчезновения щедрых нанимателей.
                button.btn.btn-light.px-5.py-2.primary-btn
                    | Купить за 150 р
            .col-md-5.col-sm-12.h-25
                img(src='assets/img/header-img.png', alt='Book')