extends ../layout/base
block main
    section
        .container.text-center
            .row
                .col-md-6.col-12
                    .panel.text-left
                        p.my-4
                            span.font-weight-bold Наша главная цель
                            span.mb  стать для посетителей не просто хорошим книжным магазином европейского уровня, но и добрым внимательным другом.
                        p.font-weight-bold Наши партнеры
                        p
                            | В работе с поставщиками мы не делим издательства на «большие» и «маленькие». Это позволяет в каждом магазине сформировать уникальный ассортимент книг по самым разным отраслям знаний. В числе наших надежных партнеров издательства «Эксмо», «АСТ», «Азбука», «Олма-Пресс», «Росмэн», «Питер», «Эгмонт», «Дрофа», «Центрполиграф» и многие другие.
                        p
                            | Работая с девелоперскими компаниями, мы выстраиваем долгосрочные доверительные отношения. Фундаментом для них служат честность и взаимовыгодность. Мы уже много лет сотрудничаем с такими компаниями как: Холдинг «Капиталл Групп», «RTM», ООО «Рим Девелопмент» (г.Саратов), «Cushman&Wakefield/ Stiles&Riabokobylko», «Penny lane Realty», «Ross Group JSC».
                        p
                            | Открывая новые магазины в регионах, мы активно участвуем в жизни каждого города:
                            span.font-weight-bold устраиваем благотворительные акции, помогаем в организации общегородских мероприятий.
                            | У нас добрые партнерские отношения с городскими властями в каждом регионе, где представлены наши магазины.
