extends ../layout/base
include ../components/book
block main
    .container
        .row.mt-4
            +book_template('Бесы','Ф.М.Достоевский',
                'Один из самых спорных романов Достоевского. Одни видят в нем пророческий памфлет. Другие — эдакий литературный полигон для испытания различных философских идей. Третьи — изощренный психологический триллер',
                '500','250',`assets/img/besi.jpg`)
            +book_template('Мартин иден','Джек Лондон','Роман выдающегося американского писателя Джека Лондона о мечте и успехе. Простой моряк, в котором легко узнать самого автора, проходит длинный, полный лишений путь к литературному бессмертию...',
                '437','211',`assets/img/martin_iden.jpg`)
            +book_template('Старик и море','Эрнест Хемингуэй','Повесть посвящена "трагическому стоицизму": перед жестокостью мира человек, даже проигрывая, должен сохранять мужество и достоинство. Изображение яростной схватки с чудовищной рыбой, а затем с пожирающими ее акулами удачно контрастирует с размышлениями о прошлом, об окружающем мире.',
                '240','790',`assets/img/old_and_sea.jpg`)
            +book_template('Великий Гэтсби','Фрэнсис Скотт Фиццджеральд','Самый известный роман Фрэнсиса Фицджеральда, ставший символом "века джаза". Америка, 1925 г., время "сухого закона" и гангстерских разборок, ярких огней и яркой жизни. Но для Джея Гэтсби воплощение американской мечты обернулось настоящей трагедией. А путь наверх, несмотря на славу и богатство, привел к тотальному крушению. Ведь каждый из нас в первую очередь стремится не материальным благам, а к любви, истинной и вечной…',
                '130','432',`assets/img/gatsbi.jpg`)
            +book_template('Гамлет','Уильям Шекспир','Самая знаменитая и значимая для мировой драматургии пьеса гения английской литературы Уильяма Шекспира, главный герой которой стоит в ряду общечеловеческих типов, имеющих вечное значение. Философские и психологические проблемы, над которыми бьется мысль Гамлета - смысл жизни и назначение человека, смерть и бессмертие, порок и преступление, духовная сила и слабость - поднимают читателя до необыкновенного накала переживаний и осознания вечных истин.',
                '220','2231',`assets/img/gamlet.jpg`)
            +book_template('Граф Монте-Кристо','Александр Дюма','Блистательный "Граф Монте-Кристо" Александра Дюма по праву считается одним из самых популярных романов в мировой литературе. К нему писали продолжения, его ставили на сцене, создавали мюзиклы, экранизировали, но и по сей день бесчисленные издания этой книги доставляют удовольствие новым и новым поколениям читателей. История молодого парижанина, которого приятели в шутку засадили в тюрьму, почерпнута автором в архивах парижской полиции. ',
                '500','112',`assets/img/monte_kristo.jpg`)
            +book_template('Психология масс и анализ человеческого "я"','Зигмунд Фрейд','Одна из самых известных работ Зигмунда Фрейда, написанная в развитие идей, высказанных Гюставом Лебоном в книге "Психология народов и масс". Психология толпы. Чем она отличается от психологии одного конкретного индивида? Почему, оказавшись в толпе, люди зачастую отказываются от собственного "я" и отпускают на волю инстинкты, которым никогда не дали бы проявиться в обычных обстоятельствах? Куда исчезают страх, совесть и чувство ответственности?',
                '431','67',`assets/img/freid.jpg`)
            +book_template('Собор парижской богоматерии','Виктор Гюго','Великий Гюго построил свой "Собор Парижской Богоматери" из образов и слов, он даровал нам удивительную возможность утолить жажду времени, вопрощенную в камне, постичь смысл собственного немого изумления перед лицом застывшего совершенства - на примере живых старстей, движимых противостоянием добра и зла к неизбежному обращению в прах. ',
                '221','200',`assets/img/gugo_sobor.jpg`)
            +book_template('На западном фронте без перемен','Эрих Мария Ремарк','Это рассказ о немецких мальчишках, которые под действием патриотической пропаганды идут на войну, не зная о том, что впереди их ждет не слава героев, а инвалидность и смерть… Каждый день войны уносит жизни чьих-то отцов, сыновей, а газеты тем временем бесстрастно сообщают: "На Западном фронте без перемен..." Эта книга — не обвинение, не исповедь. Это попытка рассказать о поколении, которое погубила война, о тех, кто стал ее жертвой, даже если сумел спастись от снарядов и укрыться от пули. ',
                '322','1321',`assets/img/front_remark.jpeg`)