extends ../layout/base
include ../components/book
block main
    .container
        .row.mt-4
            +book_template('приключения дибилов','марк твен',
                'приключения бибы и бобы лучшие в своей серии','500','20',`assets/img/6011805289.jpg`)
            +book_template('приключения дибилов','марк твен','ahahahah','500','20','img/kek.jpg')
            +book_template('приключения дибилов','марк твен','ahahahah','500','20','img/kek.jpg')
            +book_template('приключения дибилов','марк твен','ahahahah','500','20','img/kek.jpg')
            +book_template('приключения дибилов','марк твен','ahahahah','500','20','img/kek.jpg')
            +book_template('приключения дибилов','марк твен','ahahahah','500','20','img/kek.jpg')