extends ../layout/base
block main
    section.section-1
        .container.text-center
            .row
                .col-md-6.col-12
                    .panel.text-left
                        h1 Mr. Devid Smith
                        p.pt-4
                            | Заказы, сделанные на сайте books for all, отправляются с московского склада.
                            | Поэтому сроки доставки напрямую зависят от расстояния между Москвой и пунктом назначения.
                        p
                            | Существует 3 способа получения заказов из интернет-магазина : самовывоз, курьерская доставка и отправка почтой.\
                            | Точную стоимость доставки Вы увидите во время оформления заказа.
