extends ../layout/base
block main
    section
        .container.text-center
            .row
                .col-md-6.col-12
                    .panel.text-left
                        h1 Доставка и оплата
                        p.pt-4
                            | Заказы, сделанные на сайте books for all, отправляются с московского склада.
                            | Поэтому сроки доставки напрямую зависят от расстояния между Москвой и пунктом назначения.
                        p
                            | Существует 3 способа получения заказов из интернет-магазина : самовывоз, курьерская доставка и отправка почтой.
                            | Точную стоимость доставки Вы увидите во время оформления заказа.
                        p
                        span.font-weight-bold Юридическим лицам. Выставление счетов и документы
                        br
                        | Счета за интернет-заказы юридические лица получают на электронную почту, указанную при оформлении. Счёт придёт после передачи заказа в доставку. Вместе с заказом будут предоставлены документы: счёт, товарная накладная ТОРГ-12, счёт-фактура.
                        p.font-weight-bold.my-3 Сроки хранения заказов
                        ul.list-group.my-3
                            li.list-group-item Связной – Заббери – 7 календарных дней;
                            li.list-group-item СДЭК – 7 календарных дней;
                            li.list-group-item Евросеть – 14 календарных дней;
                            li.list-group-item BoxBerry – 7 календарных дней;
                            li.list-group-item IML – 7 календарных дней;
                            li.list-group-item DPD – 3 календарных дня;
                            li.list-group-item GURU – 7 календарных дней.
                            li.list-group-item 5post (Пятёрочка) – 7 календарных дней;

