extends ../layout/base
block header
    include ../modules/header_advert
block main
    section.section-1
        .container.text-center
            .row
                .col-md-6.col-12
                    .pray
                        img(src='assets/img/pexels-photo-1904769.jpeg', alt='Pray')
                .col-md-6.col-12
                    .panel.text-left
                        h1 Mr. Devid Smith
                        p.pt-4
                            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere iure adipisci harum ducimus
                            | accusantium, repudiandae aperiam
                            | voluptatum, id ex ratione omnis reiciendis possimus officiis.
                        p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi vitae, tenetur quidem eum
                            | aliquid vel labore sint placeat
                            | ad deserunt consectetur fugit ullam. Eius unde neque ducimus obcaecati ipsum quos vero totam
                            | recusandae hic
                            | expedita nemo sit, illum harum. Quisquam impedit ullam itaque facere et ad molestiae quod
                            | reprehenderit excepturi!
    section.section-2.container-fluid.p-0
        .cover
            .overlay
            .content.text-center
                h1 Что делает нас уникальными?
                p
                    | Мы любим своих гостей и становимся лучше после каждого визита
        .container-fluid.text-center
            .numbers.d-flex.flex-md-row.flex-wrap.justify-content-center
                .rect
                    h1 9802
                    p Довольных читателей
                .rect
                    h1 23020
                    p Кружек кофе
                .rect
                    h1 32012
                    p Бесплатных брошюр
                .rect
                    h1 5200
                    p Произведений
        .purchase.text-center
            h1 Выбирайте все что угодно
            p
                | Бумажные книги, электронные, журналы, газеты и много другое
            .cards
                .d-flex.flex-row.justify-content-center.flex-wrap
                    .card
                        .card-body
                            .title
                                h5.card-title PDF
                            p.card-text
                                | C поддержкой выделения текста
                            .pricing
                                h1 от 120 р
                                a.btn.btn-dark.px-5.py-2.primary-btn.mb-5(href='#') Перейти к выбору
                    .card
                        .card-body
                            .title
                                h5.card-title E-book
                            p.card-text
                                | С поддержкой содержания и гиперссылок
                            .pricing
                                h1 от 180 р
                                a.btn.btn-dark.px-5.py-2.primary-btn.mb-5(href='#') Перейти к выбору
                    .card
                        .card-body
                            .title
                                h5.card-title В мягкой обложке
                            p.card-text
                                | С красивой обложкой в подарок
                            .pricing
                                h1 от 250 р
                                a.btn.btn-dark.px-5.py-2.primary-btn.mb-5(href='#') Перейти к выбору
    section.section-3.container-fluid.p-0.text-center
        .row
            .col-md-12.col-sm-12
                h1 Загрузите наше приложение онлайн
                p
                    | В век информационных технологий, многие используют мобильные телефоны для просмотра сайтов,
                    | чтобы вам было удобнее, мы разработали мобильные приложения для IOS/Android. Также есть desktop версия
                    | приложения, в которой заказывать любимые книги еще быстрее и удобнее
        .platform.row
            .col-md-6.col-sm-12.text-right
                .desktop.shadow-lg
                    .d-flex.flex-row.justify-content-center
                        i.fas.fa-desktop.fa-3x.py-2.pr-3
                        .text.text-left
                            h3.pt-1.m-0 Для Windows
                            p.p-0.m-0 На сайте
            .col-md-6.col-sm-12.text-left
                .desktop.shadow-lg
                    .d-flex.flex-row.justify-content-center
                        i.fas.fa-mobile-alt.fa-3x.py-2.pr-3
                        .text.text-left
                            h3.pt-1.m-0 Для IOS/Android
                            p.p-0.m-0 На App Store/Google Play
    // Section 4
    section.section-4
        .container.text-center
            h1.text-dark Что говорят наши читатели
            p.text-secondary Отзывы за последний месяц
        .team.row
            .col-md-4.col-12.text-center
                .card.mr-2.d-inline-block.shadow-lg
                    .card-img-top
                        img.img-fluid.border-radius.p-4(src='assets/img/UI-face-3.jpg', alt='')
                    .card-body
                        h3.card-title Дмитрий Белых
                        p.card-text
                            | Брал 2 книги в подарок на день рождения, качество отличное, обернули в обложку, угостили кофе. Буду брать еще
                        a.text-secondary.text-decoration-none(href='#') Нижний Новгород, 23 года
                        p.text-black-50 Студент
            .col-md-4.col-12
                #carouselExampleControls.carousel.slide(data-ride='carousel')
                    .carousel-inner.text-center
                        .carousel-item.active
                            .card.mr-2.d-inline-block.shadow
                                .card-img-top
                                    img.img-fluid.rounded-circle.w-50.p-4(src='assets/img/UI-face-1.jpg', alt='')
                                .card-body
                                    h3.card-title Адам Смит
                                    p.card-text
                                        | Книги бумажные не читаю, зашел на 5 минут купить газету, был приятно удивлен
                                        | тем, что есть в наличии электронные книги, взял одну
                                    a.text-secondary.text-decoration-none(href='#') Москва, 20 лет
                                    p.text-black-50 Студент
                        .carousel-item
                            .card.d-inline-block.mr-2.shadow
                                .card-img-top
                                    img.img-fluid.rounded-circle.w-50.p-4(src='assets/img/UI-face-2.jpg', alt='')
                                .card-body
                                    h3.card-title Марк Березкин
                                    p.card-text
                                        | Регулярно покупаю здесь учебники дочери, качество отличное, всегда есть все в наличии
                                    a.text-secondary.text-decoration-none(href='#') Кстово, 37 лет
                                    p.text-black-50 Повар
            .col-md-4.col-12.text-center
                .card.mr-2.d-inline-block.shadow-lg
                    .card-img-top
                        img.img-fluid.border-radius.p-4(src='assets/img/UI-face-4.jpg', alt='')
                    .card-body
                        h3.card-title Анна Абрамова
                        p.card-text
                            | Регулярно прихожу на редкими лектронными книгами, которых нет в интернете, выбор огромный
                            | качество на высотею
                        a.text-secondary.text-decoration-none(href='#') Арзамас, 30 лет
                        p.text-black-50 Программист в Intel