extends ../layout/base
block main
    section
        .container.text-center
            .row
                .col-md-12.col-12
                    .panel.text-left
                        h1 Нас можно найти в нескольких городах
                        p.pt-4.font-weight-bold Нижний Новгород
                            p Героя Чугунова, 7 ​Ленинский район, Нижний Новгород, 603076
                            p Ильинская улица, 96А, Нижний Новгород, 603000
                            p Большая Печёрская улица, 44, Нижний Новгород,
                        p.pt-4.font-weight-bold Москва
                            p Открытое шоссе, 24к3 Москва,  107143
                            p Погонный проезд, 25 Москва, 107150
                            p улица Петровка, 12 Москва, 107031
                        p.font-weight-bold Также каждый месяц открываются пункты выдачи, о них можно узнать у оператора
